{% extends 'header.html' %}

{% block content %}
{% if 'id' in recipe %}
<form action="/submit_recipe/{{ recipe.id }}" method="post" id="recipe_form">
{% else %}
<form action="/submit_recipe" method="post" id="recipe_form" enctype="multipart/form-data">
{% endif %}
    <h2>Recipe Name</h2>
    {% if 'name' in recipe %}
    <input type="text" name="recipe" value="{{recipe.name}}">
    {% else %}
    <input type="text" name="recipe">
    {% endif %}
    <h2>Select Image</h2>
    <input type="file" name="recipe_image">
    <h2>Ingredients</h2>
    <div id="ingredients">
        {% if 'ingredients' in recipe %}
        {% for ingredient in recipe.ingredients %}
        <div class="ingredient">
            <input type="text" name="ingredient[]" value="{{ingredient}}">
            <button type="button" onclick="deleteElement(this)">Delete</button>
        </div>
        {% endfor %}
        {% else %}
        <div class="ingredient">
            <input type="text" name="ingredient[]">
            <button type="button" onclick="deleteElement(this)">Delete</button>
        </div>
        {% endif %}

    </div>
    <button type="button" class="" onclick="addIngredient()">Add Ingredient</button>
    <h2>Instructions</h2>
    <div id="instructions">
        {% if 'instructions' in recipe %}
        {% for instruction in recipe.instructions %}
        <div class="instruction">
            <input type="text" name="instruction[]" value="{{instruction}}">
            <button type="button" onclick="deleteElement(this)">Delete</button>
        </div>
        {% endfor %}
        {% else %}
        <div class="instruction">
            <input type="text" name="instruction[]">
            <button type="button" onclick="deleteElement(this)">Delete</button>
        </div>
        {% endif %}
    </div>
    <button type="button" class="" onclick="addInstruction()">Add Instruction</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% if 'id' in recipe %}
    <button class="btn btn-primary" type="submit">Submit Changes</button>
    <a class="btn btn-danger" href="/delete/{{recipe.id}}">Delete Recipe</a>
    {%else%}
    <button class="btn btn-primary" type="submit">Create Recipe</button>
    {%endif%}
</form>
<script src="{{url_for('static', filename='js/buttonController.js')}}"></script>
{% endblock %}